{% extends 'board/base.html' %}
{% block title %}목록{% endblock %}
{% block content %}
{% if board_list %}
    <table border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        {% for board in board_list %}
            <tr>
                <td>{{board.id}}</td>
                <td><a href="{% url 'board:read' board.id %}">{{board.title}}</a></td>
                <td>{{board.writer}}</td>
                <td>{{board.readcount}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    게시글이 존재하지 않습니다.
{% endif %}
<a href="{% url 'board:regist' %}"><button>등록</button></a>
{% endblock %}